* {
	/* `otf-font-awesome` is required to be installed for icons */
	/* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
	border: none;
	border-radius: 0px;
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	font-size: 13px;
	min-height: 10px;
}

@import "themes/gruvbox.css";

window#waybar {
	background: transparent;
	color: #ffffff;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

/*
window#waybar.empty {
	background-color: transparent;
}
window#waybar.solo {
	background-color: #FFFFFF;
}
*/

window#waybar.termite {
	background-color: #3F3F3F;
}

window#waybar.chromium {
	background-color: #000000;
	border: none;
}

button {
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -3px transparent;
	/* Avoid rounded borders under each button name */
	border: none;
	border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background-color: @scnd-bg;
	border-radius: 20px;
	/* box-shadow: inset 0 -3px #ffffff; */
}

#taskbar {
	background-color: @main-bg;
	padding: 3px 20px;
	margin: 4px 20px;
	border-radius: 20px;
}

#workspaces {
	background-color: @main-bg;
	padding: 3px 20px;
	margin: 4px 20px;
	border-radius: 20px;
}

#workspaces button {
	color: #ffffff;
}

#workspaces button:hover {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 20px;
}

#workspaces button.focused {
	background-color: #64727D;
	box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

#clock {
	background-color: @main-bg;
	padding: 3px 20px;
	margin: 4px 20px;
	border-radius: 20px;
}

#pulseaudio {
	background-color: @main-bg;
	padding: 3px 20px;
	margin: 4px 0px;
	border-radius: 20px 0px 0px 20px;
}

#network {
	background-color: @main-bg;
	padding: 3px 20px;
	margin: 4px 0px;
}

#battery {
	background-color: @main-bg;
	padding: 3px 20px;
	margin: 4px 0px;
}

#language {
	background-color: @main-bg;
	padding: 3px 20px;
	margin: 4px 20px 4px 0px;
	border-radius: 0px 20px 20px 0px;
}

#network.disconnected {
	background-color: #f53c3c;
}

#mode {
	background-color: #64727D;
	border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#keyboard-state,
#language,
#mpd {
	padding: 0 10px;
	color: #ffffff;
}

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left > widget:first-child > #workspaces { */
/* 	margin-left: 0; */
/* } */

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right > widget:last-child > #workspaces { */
/* 	margin-right: 0; */
/* } */

/* #battery { */
/* 	background-color: #ffffff; */
/* 	color: #000000; */
/* } */

#battery.charging, #battery.plugged {
	color: #ffffff;
	background-color: #26A65B;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:focus {
	background-color: #000000;
}

#cpu {
	background-color: #2ecc71;
	padding: 5px 20px;
	margin: 8px 0;
	border-radius: 20px 0px 0px 20px;
	color: #000000;
}

#memory {
	background-color: #9b59b6;
	padding: 0 20px;
	margin: 2px 0;
}

#temperature {
	background-color: #f0932b;
	padding: 0 20px;
	margin: 2px 0;
	border-radius: 0px 20px 20px 0px;
}

#disk {
	background-color: #964B00;
}

#backlight {
	background-color: #90b1b1;
}

#pulseaudio.muted {
	background-color: #90b1b1;
	color: #2a5c45;
}

#wireplumber {
	background-color: #fff0f5;
	color: #000000;
}

#wireplumber.muted {
	background-color: #f53c3c;
}

/* #custom-media { */
/* 	padding: 3px 20px; */
/* 	margin: 4px 20px; */
/* 	background-color: #66cc99; */
/* 	color: #2a5c45; */
/* 	min-width: 100px; */
/* } */

.large {
	font-size: 16px;
}

#custom-media {
	padding: 3px 20px;
	margin: 4px 20px;
	background-color: @main-bg;
	color: white;
	border-radius: 20px;
}

#custom-media.custom-spotify {
	background-color: #1DB954;
	color: black;
}

#custom-media.custom-vlc {
	background-color: #ffa000;
}

#temperature.critical {
	background-color: #eb4d4b;
}

#tray {
	background-color: #2980b9;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}

#idle_inhibitor {
	background-color: #2d3436;
}

#idle_inhibitor.activated {
	background-color: #ecf0f1;
	color: #2d3436;
}

#mpd {
	background-color: #66cc99;
	color: #2a5c45;
}

#mpd.disconnected {
	background-color: #f53c3c;
}

#mpd.stopped {
	background-color: #90b1b1;
}

#mpd.paused {
	background-color: #51a37a;
}

#keyboard-state {
	background: #97e1ad;
	color: #000000;
	padding: 0 0px;
	min-width: 16px;
}

#keyboard-state > label {
	padding: 0 5px;
}

#keyboard-state > label.locked {
	background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
	background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
